<% @user.reviews.each do |review| %>
  <p>Review for <%= review.restaurant.name %></p>
  <p><%= review.comment %></p>
  <% if review.user != nil %>
    <p>reviewed on <%= review.created_at%></p>
  <% end %>
<% end %>
