<h2>Your OpenTable Profile</h2>

<p>
  <ul>
    <li>Username: <%= @user.username %></li>
    <li>email: <%= @user.email %></li>
  </ul>
</p>

<%= link_to "Create a Restaurant", new_restaurant_path %>
