<div class="jumbotron tag-list">
  <div class="container-fluid">
    <div class="search-bar">
      <%= render "restaurants/search_form" %>
    </div>
  </div>
</div>

<div class="container-fluid restaurant-list">
  <div class="section-title">
    <h2><%= @tag.tagname.titleize %> Restaurants</h2>
  </div>
  <%= render @restaurants %>
</div>
