<h1>Restaurants</h1>

<%= render "search_form" %>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %> | <%= link_to "Reserve now", new_restaurant_reservation_path(restaurant) %></li>
  <% end %>
</ul>
