<div class="jumbotron homepage">
  <div class="container-fluid">
    <div class="search-bar">
      <%= render "search_form" %>
    </div>
  </div>
</div>

<div class="container-fluid restaurant-list">
  <div class="section-title">
    <h2>Restaurants</h2>
  </div>
  <div class="row" id="restaurants">
    <%= render @restaurants %>
  </div>
</div>

<div class="container-fluid tag-list">
  <div class="section-title">
    <h2>I Feel Like...</h2>
  </div>
  <%= render "tag_list" %>
</div>
