/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 // Custom bootstrap variables must be set or import before bootstrap itself.
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "restaurants.scss";
 @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


body {
  background-color: #f6f1ed;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.container-fluid .jumbotron.homepage {
  height: 450px;
  top: 8%;
  border-radius: 0px;
  background: url("restaurantcover1.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 20%;
}

.container-fluid .jumbotron.tag-list {
  height: 450px;
  top: 8%;
  border-radius: 0px;
  background: url("meal2.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 20%;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.content {
  top: 8%;
  padding-top: 80px;
  padding-left: 3%;
  padding-right: 3%;
}

.navbar {
    margin: 0;
    height: 8%;
    border-radius: 0;
    background-color: #163d44;
    padding-left: 2%;
    padding-right: 2%;
    color: #92b5aa;
}

.navbar-header {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.navbar-brand {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.7em;
}

a.navbar-brand {
  color: #ffffff;
}

.navbar-right {
  margin-right: 1%;
  text-align: right;
}

.navbar-right a {
  color: #ffffff;
}

.search-field {
    font-size: 1.35em;
    color: #ffffff;
}

input#search {
  color: #000000;
}

.section-title {
    text-align: center;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}

.restaurant-list {
    margin-bottom: 6%;
    padding-left: 6%;
    padding-right: 6%;
}

.restaurant-photo {
  /* max-width: 1200px; /* img src width (if known) */
  height: 200px;
  overflow: hidden;
}

.restaurant-photo img {
  /* corrects inline gap in enclosing div */
  display: block;
  min-width: 100%;
  /* just in case, to force correct aspect ratio */
  min-height: 100%;
  height: auto !important;
  width: auto !important;
}

.thumbnail img {
  max-width: 100%;
  height: 200px;
}

.thumbnail a {
  color: #667467;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.tags {
    text-transform: uppercase;
    margin-bottom: 8%;
}

.button_to {
  overflow: auto;
}

.btn.btn-primary {
    background-color: #963019;
    color: #ffffff;
    border: 0;
    border-radius: 0;
}

.tag-list {
  background-color: #ffffff;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 6%;
  text-align: center;
}

.tag-button {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.btn.btn-default {
  background-color: #667467;
  color: #ffffff;
  border: 0;
  border-radius: 0;
}
